html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

h1, h2{
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
}

.title h2{
  padding-bottom: 20px;
}

.logo{
  width: fit-content;
  margin: 0;
}

svg .logo{
  float: right;
  display: inline-block;
}

.logo p{
  width: fit-content;
  margin: 0;
  display: inline;
  padding-bottom: 5px;
}

.banner{
  background-color: #547aa5;
  width: 100%;
  margin: 0;
}

.label{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 100%;
  font-size: 10px;
}

p{
  margin-left: 60px;
  font-size: 20px;
}

form{
  font-size: 20px;
}

form span{
  margin-left: 200px;
  margin-right: 40%;
}
